/* Start Global Rules */
:root{
    --first-color:#30bdb5;
    --second-color:#1F509A;
    --third-color:#CBDCEB;
    --trans:0.3s;
    --scroll-trans:1.5s;
    --section-padding:10px;
}

body{
    font-family: "Cairo", sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: #CBDCEB;
}
::-webkit-scrollbar-thumb{
    background-color: var(--first-color);
    border-radius: 5px;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
a:visited{
    text-decoration: none;
    color: white;
}
/* End Global Rules */
/* Start menu */
.menu{
    padding: 20px;
    background-color: #F9F7F7;
    color: white;
    width: 15%;
    height: 100vh;
    position: fixed;
}
.menu .links{
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.menu .links ul li{
    font-size: 17px;
    width: 180px;
    border-radius: 5px;
    text-align: center;
    background-color: var(--second-color);
    padding: 8px;
    margin-top: 35px;
}
@media (max-width: 1199px) {
    .menu .links ul li{
        font-size: 16px;
        width: 150px;
        padding: 8px;
    }
}

/* End menu */
/* Start panel */
.panel{
    position: absolute;
    left: 15%;
    padding: 15px;
    top: 0;
    width: 85%;
    background-color: #DBE2EF;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu .icon{
    width: fit-content;
    margin: 0 auto;
}
.mobile-menu i {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.mobile-menu ul{
    padding: 10px;
}
.mobile-menu ul li{
    padding: 5px;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: 3px;
}
@media (max-width: 991px) {
    .menu{
        display: none;
    }
    .panel{
        width: 100%;
        position: relative;
        left: 0%;
        padding-top: 50px;
    }
    .mobile-menu{
        position: fixed;
        display: block;
        width: 100%;
        z-index: 999;
        height: 40px;
        transition: 0.5s;    overflow: hidden;
        background-color: rgb(188, 222, 252);
    }
}
/* End panel */
/* Start dashboard */
.panel .dashboard{
    height: calc(100vh - 105px);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}
.header h2{
    font-size: 30px;
}
.header .profile{
    width: fit-content;
    max-width: 100%;
    cursor: pointer;
    position: relative;
}
.header .profile .profile-settings{
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    top: 100%;
    transition: var(--trans);
    right: 0;
    padding: 0px;
    background-color: rgb(239, 239, 239);
    width: 180px;
    height: 0;
    overflow: hidden;
}
.header .profile .profile-settings a li,.header .profile .profile-settings h3{
    color: black;
    width: fit-content;
    padding: 8px;
    font-size: 17px;
    text-align: center;
    transition: var(--trans);
    font-weight: bold;
}
.header .profile .profile-settings h3{
    border-bottom: 1px solid #777;
}
.header .profile .profile-settings a li:hover{
    padding-left: 15px;
}
.header .profile img{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    max-width: 100%;
}
.panel .dashboard .card-section{
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
}
.panel .dashboard .card-section .card{
    background-color: var(--first-color);
    color: white;
    width: 250px;
    height: 150px;
    text-align: center;
    color: white;
    padding: 10px;
    margin: 5px auto;
    border-radius: 10px;
}
.panel .dashboard .card-section .card p{
    font-size: 20px;
    margin: 5px 0;
}
.panel .dashboard .card-section .card i,.panel .dashboard .card-section .card svg{
    margin: 10px 0;
    text-align: center;
    color: white;
    font-size: 30px;
}
.panel .dashboard .card-section .card h3{
    font-size: 20px;
    font-weight: bold;
}
.panel .dashboard .activity-section{
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 20px;
}
.panel .dashboard .activity-section .recent-activity{
    flex-basis: 100%;
}
.panel .dashboard .activity-section .recent-activity h3{
    font-size: 30px;
    font-weight: bold;
}
.panel .dashboard .activity-section .map{
    max-width: 100%;
    flex-basis: 40%;
    margin-top: 40px;
}
.panel .dashboard .map iframe{
    width: 500px;
}
.panel .dashboard .activity-section .activity table{
    width: 100%;
    height: 100%;
    max-width: 100%;
    padding: 15px;
    height: 350px;
}
table,tr,td,th{
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    border: 1.5px solid #777;
    border-collapse: collapse;
}
/* End dashboard */
/* Start event */
.events{
    height: calc(100vh - 105px);
    padding: 10px;
}
.events .events-list{
    padding: 10px;
}
.events .events-list .header-event{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#addbt{
    padding: 15px;
    background-color: lightseagreen;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: 1px solid #777;
}
.delbt{
    padding: 15px;
    background-color: red;
    color: white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: 1px solid #777;
}
#delete-conf{
    background-color: white;
    padding: 30px;
    position: absolute;
    left: 50%;
    visibility: hidden;
    top: 50%;
    opacity: 0;
    transition: var(--trans);
    border-radius: 8px;
    transform-origin: left;
    transform: scale(0.6) translate(-50%,-50%);
    width: fit-content;
}
#delete-conf .choice{
    display: flex;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
#delete-conf .choice #yes{
    padding: 8px;
    background-color: lightseagreen;
    color: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid #777;
}
#delete-conf .choice #no{
    padding: 8px;
    background-color: red;
    color: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid #777;
}
.events .events-list .header-event .add-event{
    position: fixed;
    left: 50%;
    top: 50%;
    transition: var(--trans);
    visibility: hidden;
    opacity: 0;
    transform-origin: left;
    transform: scale(0.6) translate(-50%,-50%);
    background-color: whitesmoke;
    color: black;
    padding: 25px;
}
.events .events-list .header-event .add-event .xmark{
    position: absolute;
    right: 10px;
    font-size: 25px;
    font-weight: bold;
    top: 10px;
    cursor: pointer;
}

.events .events-list .header-event .add-event form input{
    width: 200px;
    display: block;
    border: 1px solid #777;
    padding: 10px;
    margin: 18px;
}
.events .events-list .header-event .add-event form input[type="submit"]{
    background-color: lightseagreen;
    color: whitesmoke;
    cursor: pointer;
}
.events .events-list .header-event .add-event form input[type="reset"]{
    background-color: rgba(255, 78, 78, 0.937);
    color: whitesmoke;
    cursor: pointer;
}